<p id="notice"><%= notice %></p>

<!--
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Listing Posts</h1>
    <p class="lead blog-description">My experimental blog.</p>
  </div>
-->

<%= link_to 'New post', new_post_path, class: 'btn btn-default' %>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <% @posts.each do |post| %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= post.title %></h2>
          <p class="blog-post-meta"><%= post.updated_at %> by <%= post.user.email %></p>
          <p><%= post.body %></p>
          <% unless post.category==nil %>
            <p align="right">Category: <%= post.category.name %></p>
          <% end %>
          <p><%= link_to 'Show', post %>
              <% if user_signed_in? && post.user == current_user %> |
                <%= link_to 'Edit', edit_post_path(post) %> |
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
