%p#notice= notice

= link_to 'New post', new_post_path, class: 'btn btn-primary'

= paginate @posts

.row
  .col-md-9.blog-main
    - @posts.each do |post|
      .blog-post
        %h2.blog-post-title= post.title
        - if post.user.avatar?
          = image_tag(post.user.avatar.thumb.url)
        %p.blog-post-meta
          = post.created_at
          by #{post.user.email} (#{post.views} views)
        %p= post.body.html_safe
        - if post.category
          %p{align: "right"}
            Category: #{post.category.name}
        %p
          = link_to 'Show', post, class: "btn btn-info"
          - if user_signed_in? && post.user == current_user
            = link_to 'Edit', edit_post_path(post), class: "btn btn-warning"
            = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
  .col-md-3
    %h3
      Categories
    - unless @admin_categories.empty?
      %ul
        %li
          %b
            = link_to 'All', posts_path
        - @admin_categories.each do |admin_category|
          %li
            = link_to admin_category.name, posts_path(filter_by: admin_category.id)
    %h3
      Sort by
    %ul
      %li
        = link_to 'Date of creation', posts_path(sort_by: 'created_at')
      %li
        = link_to 'Number of views', posts_path(sort_by: 'views')
