%h1 #{ t "post.label.show_header" }
%p#notice= notice
.blog-post
  %h2.blog-post-title= @post.title
  - if @post.user.avatar?
    = image_tag(@post.user.avatar.url)
  %p.blog-post-meta
    %b= @post.user.email
    (#{t "post.label.views"}: #{@post.views})
    = @post.created_at

  %p= @post.body.html_safe

  - if @post.category
    %p{align: "right"}
      #{ t "post.label.category" }:
      = @post.category.name
  %p
    - if user_signed_in? && @post.user == current_user
      = link_to (t "post.button.edit"), edit_post_path(@post), class: "btn btn-warning"
      = link_to (t "post.button.destroy"), @post, method: :delete, data: { confirm: (t "post.confirm.destroy") }, class: "btn btn-danger"

  = link_to (t "post.button.back"), posts_path, class: "btn btn-default"
