<!DOCTYPE html>
<html>
<head>
<!-- !!_!! -->
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">BLOG</h1>
      <p class="lead blog-description">My experimental blog.</p>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-left">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log in", new_user_session_path, class: "btn btn-link" %>
              </li>
              <li>
                <%= link_to "Registration", new_user_registration_path, class: "btn btn-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

  <%= yield %>

  </div>

</body>
</html>
